*{
    background: #1ba11a url(./assets/tile.png) top left repeat;
    font-family: Comic Sans,Comic Sans MS,cursive;
    margin: 0;
	padding: 0;
}

#title{
    color: white;
    font-family: times,helvetic,sans-serif;
    font-size: 112px;
    margin: 0;
    padding-top: 12px;

}

#subtitle{
    color: #fff54f;
    font-size: 40px;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#pictures_row{
    display: flex;
    flex-direction: row;
    margin-top: 42px;
    margin-bottom: 42px;
    gap: 30px;

}

#pictures_row #walter_baby{
    width: 226px;
    height: 301px;

}

#p_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #fff54f;
    font-weight: bold;
}