*{
    
    font-family: Comic Sans,Comic Sans MS,cursive;
    margin: 0;
	padding: 0;
    
}

body{
    background: #1ba11a url(/assets/tile.png) top left repeat;
}

#title{
    color: white;
    font-family: times,helvetic,sans-serif;
    font-size: 112px;
    margin: 0;
    padding-top: 12px;

}

#subtitle{
    color: #fff54f;
    font-size: 40px;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;            
    margin-bottom: 20px;
}

#pictures_row{
    display: flex;
    flex-direction: row;
    margin-top: 42px;
    margin-bottom: 42px;
    gap: 30px;

}

#pictures_row #walter_baby{
    width: 226px;
    height: 301px;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text{
    width: 810px;
}

#p_1{
    
    font-size: 25px;
    color: #fff54f;
    font-weight: bold;
}

#p_2{
    margin-top: 20px;
    font-size: 21px;
    color: #fff54f;
    font-weight: bold;
}

.container-img-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.p-rest{
    color: white;
    font-weight: bold;
    font-size: 21px;
}

#walter_7{
    height: 266px;
    display: flex;
    margin-top: 24px;
}

.donations-text {
    text-align: center;
    color: #fff54f;
    font-size: 42px;
    font-weight: bold;
    
}

#don-1, #don-2, #don-3 {
    margin-bottom: 42px;
    margin-top: 42px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 22px;
}

#don-3{
    color: #ffe107;
}